@import './scss/player.scss';
@import './scss/body.scss';
@import './scss/flip.scss';
@import './scss/search.scss';
@import './scss/common.scss';

.container {
  width: 100% !important;
}

.cover-img {
  transition: all 0.5s ease;
  object-fit: cover;
  width: 100%;
}

.custom-music-player {
  animation: colors 5s infinite linear;
  border-radius: 15px;
  -webkit-box-shadow: 0 20px 88px -10px #000 !important;
  box-shadow: 0 20px 88px -10px #000 !important;
  overflow: hidden;
}

.progress {
  height: 5px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.m-5-auto {
  margin: 15% auto;
}

.bg-transparent {
  background: transparent !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-white {
  color: black !important;
}

.pointer {
  cursor: pointer;
}

.w-80 {
  width: 80%;
}

.ListGroup {
  border-radius: 0;
}

.list-group-item {
  background: transparent;
  border-top: 1px solid black !important;
  border-bottom: 1px solid black !important;
}

.panel > .panel-collapse > .list-group .list-group-item {
  border-radius: 0 !important;
}

.display-none {
  display: none;
}



.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto !important;
  -webkit-box-shadow: 0 20px 88px -10px #000 !important;
  box-shadow: 0 20px 88px -10px #000 !important;
}

.transition-5s-out {
  max-height: 0;
  transition: max-height 0.50s ease-out;
  overflow: hidden;
}

.transition-5s-in {
  max-height: 500px;
  transition: max-height 0.50s ease-in;
  overflow: hidden;
}

.bg-black-transparent {
  background-color: rgba(255, 255, 255, 0.45);
}
