@import './scss/player.scss';
@import './scss/body.scss';

.container {
  width: 100% !important;
}

.cover-img {
  object-fit: cover;
  width: 100%;
}

.custom-music-player {
  background: transparent;
  border-radius: 15px;
  -webkit-box-shadow: 0 20px 88px -10px #000 !important;
  box-shadow: 0 20px 88px -10px #000 !important;
  overflow: hidden;
}

.progress {
  height: 5px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.m-5-auto {
  margin: 5% auto;
}

.bg-transparent {
  background: transparent !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-white {
  color: black !important;
}

.pointer {
  cursor: pointer;
}
